/**
 * File              : css/custom.css
 * Author            : Tommy Morgan
 */
/* font styles
-------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Inter:700,500,600|Open+Sans:400,500,600,700,800");

/* Custom styles
-------------------------------------------------- */
.social-icons li {
  display: inline;
}
.social-icons a {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  /* for using the original list */
  /* text-indent: -9999px; */ 
}

.bg-tmorg {
  background-color: #fefef9 !important;
}

body {
  background-color: #fefef9 !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}


.display-5{font-size:3.2em;font-family:"Inter";font-weight:800;line-height:1.5}
.display-6{font-size:1.4rem;font-family:"Inter";font-weight:300;line-height:1.2}
.navbar-toggler {
  text-align: center;
}

.fa-bars {
  color: #073767;
}

.nav-link {
  color: #1c1c1c;
  font-weight: 400;
  font-family: "Open Sans";
}
.nav-link:hover{
  color: #e06666;
}
.nav-link.wow:hover{
  color: #1c1c1c !important;
}

h1, h2, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Inter" !important;
  color: #073767 !important;
}

h3 {font-family:"Inter"!important; color: #073767 !important;margin-top:2rem;margin-bottom:2rem;}

h4 {
	font-size: 2rem !important;
	font-weight: 600 !important;
}

.no-padding-start {
  padding-inline-start: 0px;
  margin-bottom:2rem;
}

p {
	font-family: "Open Sans" !important;
	font-size: 1.25rem !important;
	font-weight: 400 !important;
}

.lead {
  font-family: "Inter" !important;
}

a {
  color: #073767;
}

	a:hover {
		color: #e06666;
		}

bodylink {
  text-decoration: underline;
}

yeet {
  color: #ff0000;
}
	yeet:hover {
		color: #e06666;
		}

geet {
  color: #333;
}
	geet:hover {
		color: #e06666;
	 }

.image-reduced {
  max-width: 25rem;
  width: 100%;
  height: auto;
}

.University{
  color:rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Inter" !important;
}

.container {
max-width:1540px;
}

main.container {max-width:70rem;}

.no-padding-start {
  padding-inline-start: 0px; 
}

/* .no-disc {
  list-style-type: none;
} */


#myList {
  font-weight: bold;
  font-size: 1.2em;
}

.ec-list-tab.active {
  background-color: rgb(40 80 124)!important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
