/**
 * File              : css/custom.css
 * Author            : Tommy Morgan
 */
/* font styles
-------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Inter|Open+Sans");

/* Custom styles
-------------------------------------------------- */
.social-icons li {
  display: inline;
}
.social-icons a {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  /* for using the original list */
  /* text-indent: -9999px; */ 
}

.bg-tmorg {
  background-color: #073767 !important;
}

.display-5{font-size:2rem;font-family:"Inter";font-weight:600;line-height:1.2}
.display-6{font-size:1.4rem;font-family:"Inter";font-weight:300;line-height:1.2}
.navbar-toggler {
  text-align: center;

}

.fa-bars {
  color: #fefef9;
}

.nav-link {
  color: #fefef9;
}
.nav-link:hover{
  color: #670737;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Inter" !important;
  color: #073767 !important;
}

h4 {
	font-size: 1.9rem !important;
	font-weight: 700 !important;
}

.lead {
  font_family: "Inter" !important;
}

a {
  color: #073767;
}

	a:hover {
		color: #670737;
		}

bodylink {
  text-decoration: underline;
}

yeet {
  color: #ff0000;
}
	yeet:hover {
		color: #670737;
		}

geet {
  color: #333;
}
	geet:hover {
		color: #670737;
	 }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #670737;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
